* {
    font-family: 'Work Sans', sans-serif;
}
.intro {
    background: url("file:///Users/fairooznazar/Desktop/Portfolio/framework/img/background.png");
    background-repeat: no-repeat;
}
.intro-text {
    margin-top: 300px;
}
.intro-text h1 {
    font-weight: '600';
    color: #323232;
}
.intro-text p {
    font-size: 18px;
    color: #646464;
}
.about-text {
    margin-top: 350px;
}
.design {
    margin-top: 40px;
}
.design h4 {
    color: #323232;
    margin-top: 40px;
    margin-bottom: 20px;
}
.design p {
    color: #646464;
}
.business {
    margin-top: 40px;
    margin-left: 20px;
}
.business h4 {
    color: #323232;
    margin-top: 40px;
    margin-bottom: 20px;
}
.business p {
    color: #646464;
}
.product {
    margin-top: 40px;
    margin-left: 40px;
}
.product h4 {
    color: #323232;
    margin-top: 40px;
    margin-bottom: 20px;
}
.product p {
    color: #646464;
}
.work-text {
    margin-top: 150px;
}
.paperbots {
    border: 2px solid black;
}
.paperbots-img-1 {
    margin-top: 40px;
}
.paperbots-img-2 {
    margin-top: 40px;
}
.paperbots-text h4 {
    color: #323232;
    margin-top: 200px;
    margin-bottom: 20px;
}
.paperbots-text p {
    color: #646464;
    margin-top: 20px;
    margin-bottom: 20px;
}