* {
    font-family: 'Work sans','Helvetica' ,sans-serif;
}
.body {
    -webkit-font-smoothing: antialiased;
}
.intro {
    height: 100%;
    width: 100%;
    margin: 0;
    padding-top: 5%;
    padding-bottom: 7%;
    background-color: #FFF59D;
}
.intro img {
    margin-bottom: 2%;
}
.intro-text {
    margin-bottom: 10%;
}
.intro-text h1 {
    font-size: 2.5rem;
    font-weight: 500;
}
.intro-text p {
    font-size: 1.4rem;
    color: #262626;
    font-weight: 400;
}
@media screen and (max-width: 768px) {
    .intro-text {
        margin-top: 10%;
        margin-bottom: 10%;
    }
}
@media screen and (max-width: 768px) {
    .intro img {
        margin-top: 20%;
        margin-bottom: 20%;
    }
}
@media screen and (max-width: 768px) {
    .intro-text p {
        width: 95%;
    }
}
/* beginning of arrow */

.down-arrow {
    color: #323232;
    font-size: 1.5rem;
    margin-top: 5%;
}
@media screen and (max-width: 768px) {
    .down-arrow {
        font-size: 1.75rem;
        margin-bottom: 5%;
    }
}
/* end of arrow */
/* beginning of about section */

.about {
    background-color: #ffffff;
    padding-top: 6%;
    padding-bottom: 8%;
    width: 100%;
}
.about-text {
    font-size: 2.5rem;
    font-weight: 500;
    padding: 1%;
    color: #484848;
}
@media screen and (max-width: 768px) {
    .about {
        margin-top: 10%;
    }
}
.design {
    margin-top: 15%;
    padding: 5%;
}
}
@media screen and (max-width: 768px) {
    .design {
        margin-top: 20%;
        margin-bottom: 20%;
    }
}
.design img {
    padding: 8%;
}
@media screen and (max-width: 768px) {
    .design img {
        padding: 3%;
    }
}
.design h4 {
    color: #000000;
    font-weight: 500;
    font-size: 1.75rem;
    margin-top: 40px;
    margin-bottom: 20px;
    padding: 1%;
}
.design p {
    font-size: 1.4rem;
    font-weight: 400;
    color: #646464;
    padding: 2%;
}
.business {
    margin-top: 15%;
    padding: 5%;
}
@media screen and (max-width: 768px) {
    .business {
        margin-top: 20%;
        margin-bottom: 20%;
    }
}
.business img {
    padding: 8%;
}
@media screen and (max-width: 768px) {
    .business img {
        padding: 3%;
    }
}
.business h4 {
    color: #000000;
    font-weight: 500;
    font-size: 1.75rem;
    margin-top: 40px;
    margin-bottom: 20px;
    padding: 1%;
}
.business p {
    font-size: 1.4rem;
    font-weight: 400;
    color: #646464;
    padding: 2%;
}
.product {
    margin-top: 15%;
    padding: 5%;
}
@media screen and (max-width: 768px) {
    .product {
        margin-top: 20%;
        margin-bottom: 20%;
    }
}
.product img {
    padding: 8%;
}
@media screen and (max-width: 768px) {
    .product img {
        padding: 3%;
    }
}
.product h4 {
    color: #000000;
    font-weight: 500;
    font-size: 1.75rem;
    margin-top: 40px;
    margin-bottom: 20px;
    padding: 1%;
}
.product p {
    font-size: 1.4rem;
    font-weight: 400;
    color: #646464;
    padding: 2%;
}
/* end of about section */
/* beginning of work section */

.work {
    background-color: #F9F9F9;
}
.work-text {
    font-size: 1.4rem;
    margin-top: 6%;
    padding: 10px;
    width: 85%;
}
@media screen and (max-width: 768px) {
    .work-text {
        width: 95%;
    }
}
.work-text h3 {
    color: #484848;
    font-size: 2.5rem;
    font-weight: 500;
    padding: 1%;
}
.work-text p {
    color: #646464;
    padding: 1%;
    width: 90%;
}
.paperbots {
    margin-top: 4%;
    padding: 5%;
}
@media screen and (max-width: 768px) {
    .paperbots {
        margin-top: 10%;
        margin-bottom: 20%;
    }
}
.paperbots-text {
    margin-top: 40%;
    padding: 7%;
}
@media screen and (max-width: 768px) {
    .paperbots-text {
        padding: 5%;
        margin-top: 10%;
    }
}
.paperbots-text h4 {
    font-weight: 500;
    font-size: 1.75rem;
    margin-top: 40px;
    margin-bottom: 20px;
    padding: 1%;
}
.paperbots-text p {
    font-weight: 400;
    color: #323232;
    margin-top: 20px;
    margin-bottom: 40px;
    font-size: 1.5rem;
}
.udo {
    padding: 5%;
    margin-top: 5%;
}
@media screen and (max-width: 768px) {
    .udo {
        margin-top: 10%;
        margin-bottom: 10%;
    }
}
.udo-text {
    margin-top: 40%;
    padding: 7%;
}
@media screen and (max-width: 768px) {
    .udo-text {
        padding: 5%;
        margin-top: 10%;
        margin-bottom: 1%;
    }
}
.udo-text h4 {
    font-weight: 500;
    font-size: 1.75rem;
    margin-top: 40px;
    margin-bottom: 20px;
    padding: 1%;
}
.udo-text p {
    color: #323232;
    font-weight: 400;
    margin-top: 20px;
    margin-bottom: 40px;
    font-size: 1.5rem;
}
.more {
    padding: 3%;
    text-align: center;
    width: 100%;
}
@media screen and (max-width: 700px) {
    .more {
        padding: 6%;
        font-size: 1rem;
    }
}
.more a {
    color: #323232;
    font-weight: 400;
    font-size: 1.75rem;
}
.more a:hover {
    font-weight: 500;
    color: #000000;
}
.contact {
    background-color: #ffffff;
    padding: 5%;
    border-top: 1px solid #eaeaea;
}
.contact-content {
    background-color: #f8f8f8;
    margin-top: 5%;
    border-radius: 12px;
    padding: 10%;
}
@media screen and (max-width: 700px) {
    .contact-content {
        padding: 7%;
    }
}
.contact-text {
    font-weight: 500;
    font-size: 2rem;
    line-height: 3rem;
    margin-bottom: 10%;
    padding: 2%;
}
.contact-text i {
    font-size: 2rem;
}
.form-group label {
    font-weight: 400;
    color: #646464;
    padding: 1%;
}
.form-group input {
    width: 90%;
    border: 0;
}
.form-group textarea {
    width: 90%;
    border: 0;
}
@media screen and (max-width: 700px) {
    .form-group input {
        width: 95%;
    }
}
.form-group textarea {
    width: 95%;
}
.contact-cta {
    margin-top: 5%;
    margin-bottom: 5%;
}
.social {
    color: #323232;
    margin-top: 30%;
    font-size: 1.5rem;
    line-height: 3rem;
    font-weight: 400;
}
@media screen and (max-width: 700px) {
    .social {
        line-height: 3rem;
        margin-top: 30%;
        margin-bottom: 50%;
    }
}
